<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.redditkarmatracker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="net.dean.jraw.android.REDDIT_USERNAME"
            android:value="hamza1311" />
        <meta-data
            android:name="net.dean.jraw.android.CLIENT_ID"
            android:value="TBGsqNVOIEql9g" />
        <meta-data
            android:name="net.dean.jraw.android.REDIRECT_URL"
            android:value="https://github.com/hamza1311/Flow-Android" />

        <activity android:name=".activites.NewUserLoginActivity" />
        <activity android:name=".activites.KarmaStatsActivity" />
        <activity android:name=".activites.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>